#header-container{
    display: flex;
    background-color: rgb(0, 0, 0);
    border: rgb(56, 44, 44) solid;
    height: 60px;
    top:0%;
    opacity: 1.0;
    justify-content: center;
}
#header-container a img{
   width: 100px;
}
.tech{
 cursor: pointer;
}
